<div class="home-masthead">
  <div class="home-container">
    <h1><%= t('home.desc')%>
      <small><%= t('home.desc_more')%></small>
    </h1>
    <div class="masthead-pic">
      <%= image_tag('writings-io-manager.png', :alt=>'Writings io manager')%>
    </div>
    <div class="quiet">
      * Support Chrome，Firefox，Safari and other browser based on webkit engine.
    </div>
  </div>
</div>
