@charset "utf-8";

.searchBox {
  left: 12px;
  bottom: 20px;
}

#content {
  width: 600px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -330px;
  border: 2px solid #dbd8d7;
  background: #fff;
  padding: 8px 30px;
  z-index: 6;
}
.boxLeft {
  border-right: 1px solid #cacaca;
}
.boxRight {
  border-left: 1px solid #cacaca;
}
#sectionBanner {
  height: 277px;
  width: 960px;
  padding: 4px;
  margin: 0 auto 20px;
  background: #fff image-url("bg_ban.png") no-repeat;
}

ul.placeList li{
  border: 1px solid #c7c7c7;
  margin-right: 20px;
}
*+html ul.placeList li {
  margin-right: 19px;
}

button.close{
  position: absolute;
  right: 30px;
  top: 10px;
}

*+html .dateRefresh  {
  margin-top: -35px;
}
*+html .datepicker { width: 225px;}

.place-nav.fixed {
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2EFF0F1,endColorstr=#F2EFF0F1);
}


